$main: #000000;
$secondary: #FFFFFF;
$main-ligth: #0e0d0d;
$secondary-light: #FDFDF0;

$primary: #F2A531;



$font-family: "NunitoSans", sans-serif;
$second-family: "WorkSans", sans-serif;
$third-family: "Roboto", sans-serif;
$fourth-family: "Inter", sans-serif;

$font-size: 16px;

$transition: 0.24s ease-in-out;
